<!DOCTYPE html>
<html>
  <head>
    <title>Archer Home</title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  </head>
  <body>
    <nav class="navbar is-info">
      <div class="navbar-brand">
        <a class="navbar-item" href="./">
          <h1 class="title logo has-text-white">Archer</h1>
        </a>
      </div>
      <div id="navMenuColorinfo-example" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" href="./">
            Home
          </a>
        </div>
      </div>
    </nav>
    <section class="hero is-info is-small">
      <div class="hero-body">
        <div class="container has-text-centered">
          <img style="border-radius: 50%;" src="/images/archer.png">
          <h1 class="title">
            Archer
          </h1>
          <a class="button is-info is-inverted">Add Archer</a>
          
        </div>
      </div>
      <div class="hero-foot">
        <nav class="tabs is-boxed is-fullwidth">
          <div class="container">
            <ul>
              <li class="is-active"><a id="#hero-body">Home</a></li>
              <li><a>Servers</a></li>
              <li><a>Grid</a></li>
              <li><a>Elements</a></li>
              <li><a>Components</a></li>
              <li><a>Layout</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </section>
  </body>
</html>
